.flex-container {
    display: flex;
    justify-content: center;
}

.float-container {
    min-height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #FFF;
}

.ticketContainer {
    max-width: 43%;
    // less than 950px go width 90%
    min-width: 40vw;
    float: left;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #ff6700;
    background-color: #ebebeb;
    margin: 0px 1%;
}

h3 {
    margin: 0px;
    padding: 0px 10px;
    color: #585858;
}

.search {
    max-width: 30%;
    float: right;
    margin-right: 40px;
}

.ticket {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #3a6ea5;
    background-color: #FFF;
    overflow: hidden;
}

input.text {
    width: 100%;
    border-radius: 5px;
    border: none;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
}

button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

button.delete {
    margin-left: 10px;
}

button.add {
    float: right;
    margin-right: 10px;
    border: 1px solid #3a6ea5;
}